#cta {
  background-color: #ff4c68;
  padding: 2%;
  text-align: center;
  margin: 12% 0%;
}

.button {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(63, 60, 60);
  border: rgb(63, 60, 60);
}
/* download-button */
.download-button {
  margin:  .5% ;

}
